USE [master]
GO
/****** Object:  Database [EmployeesDb]    Script Date: 13-Apr-23 07:35:44 ******/
CREATE DATABASE [EmployeesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13-Apr-23 07:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 13-Apr-23 07:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNumber] [bigint] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Birthdate] [datetime2](7) NOT NULL,
	[Position] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[RetireDate] [datetime2](7) NOT NULL,
	[TelNumber] [bigint] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230411195553_YourMigrationName', N'6.0.15')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [IdNumber], [FirstName], [LastName], [Gender], [Birthdate], [Position], [Status], [RetireDate], [TelNumber]) VALUES (2, 21234567656, N'Nino', N'Beqauri', N'Female', CAST(N'1998-10-11T00:00:00.0000000' AS DateTime2), N'Manager', N'Retired', CAST(N'2020-11-11T00:00:00.0000000' AS DateTime2), 557565758)
INSERT [dbo].[Employees] ([Id], [IdNumber], [FirstName], [LastName], [Gender], [Birthdate], [Position], [Status], [RetireDate], [TelNumber]) VALUES (9, 35987654378, N'Ani', N'Minadze', N'Female', CAST(N'1998-12-11T00:00:00.0000000' AS DateTime2), N'Manager', N'Staff', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
